.enter-username-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enter-username-page .head-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.enter-username-page .button {
  height: 22px;
}

.message-box {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
